@model ShopApp.WebUI.Models.ProductListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryList")
        </div>
        <div class="col-md-9">

            @Html.Partial("/Views/Shared/_slider.cshtml")

            <div class="row">
                @foreach (var item in Model.Products)
                {
                    @Html.Partial("/Views/Shared/_ProductCard.cshtml", item)

                }
            </div>

            </div>
    </div>
       
</body>
</html>
