@model ProductModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Product</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="Edit" method="post">
            <div class="form-group row" hidden>
                <div class="col-md-10">
                    <input asp-for="Id" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="ImageUrl" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Price" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Price" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>

