@model ShopApp.WebUI.Models.ProductListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="row">
    <div class="col-md-3">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryList")
        </div>
    </div>
    <div class="col-md-9">


        <div class="row">
            @foreach (var item in Model.Products)
            {
                @Html.Partial("/Views/Shared/_ProductCard.cshtml", item)

            }
        </div>

    </div>
</div>

